<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="/socket.io/socket.io.js"></script>

      <div class="header-shop">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/profile/<%= email %>" id="shops_link">Vas profil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/shop/list/0" id="shops_link">Trgovine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" id="shops_link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Poruke administratora
                  </a>
                </li>
                <li class="nav-item" id="logout_button_home">
                  <a href="/logout"><button type="submit" name="odjava" value="0" class="btn" id="logout_button">Odjava</button></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

  </head>
  <body>

    <h3 class="row" id="home_title">Pocetna stranica</h3>

      <div class="collapse" id="collapseExample">

          <table class="col-6" id="system_admin_mess_input">
            <tr>
              <td><textarea  class="form-control" id="exampleFormControlTextarea1" rows="1"
                             placeholder="Obavijest od administratora.."></textarea></td>
            </tr>
          </table>

      </div>



    <div class="row home-page">
      <br>
      <div class="col-4 most-selling" id="home_items">
        <h3>Najprodavanije</h3>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% let active_1 = true; %>
            <% for (let i = 0; i < products.rows.length; i++){ %>
              <% for (let j = 0; j < most_selling.rows.length; j++){ %>
                <% if (active_1 === true && products.rows[i].product === most_selling.rows[j].product) {%>
                    <div class="carousel-item active">
                      <a href="/shop/details/<%=products.rows[i].shop_name%>">
                        <img src="/images/<%= products.rows[i].photo %>" class="d-block w-100" alt="..." id="home-img">
                      </a>
                      <div class="home_info">
                        <h5><%= products.rows[i].product %></h5>
                        <p><%= products.rows[i].price %> KM</p>
                      </div>
                    </div>
                  <%active_1 = false;%>
                  <%break%>
                <%}else{%>
                  <%if (products.rows[i].product === most_selling.rows[j].product){ %>
                    <div class="carousel-item">
                      <a href="/shop/details/<%=products.rows[i].shop_name%>">
                        <img src="/images/<%= products.rows[i].photo %>" class="d-block w-100" alt="..." id="home-img">
                      </a>
                      <div class="home_info">
                        <h5><%= products.rows[i].product %></h5>
                        <p><%= products.rows[i].price %> KM</p>
                      </div>
                    </div>
                    <%break%>
                  <%}%>
                <%}%>
              <%}%>
            <%}%>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-4 random-articles" id="home_items">
        <h3>Slucajno odabrano</h3>
        <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% let active_2 = true; %>
            <% for (let i = 0; i < products.rows.length / 2; i++){ %>
              <% let index = Math.floor(Math.random() * products.rows.length); %>
                <% if (active_2 === true) {%>
                  <div class="carousel-item active">
                    <a href="/shop/details/<%=products.rows[index].shop_name%>">
                      <img src="/images/<%= products.rows[index].photo %>" class="d-block w-100" alt="..." id="home-img">
                    </a>
                    <div class="home_info">
                      <h5><%= products.rows[index].product %></h5>
                      <p><%= products.rows[index].price %> KM</p>
                    </div>
                  </div>
                  <%active_2 = false;%>
              <%}else{%>
                <div class="carousel-item">
                  <a href="/shop/details/<%=products.rows[index].shop_name%>">
                    <img src="/images/<%= products.rows[index].photo %>" class="d-block w-100" alt="..." id="home-img">
                  </a>
                  <div class="home_info">
                    <h5><%= products.rows[index].product %></h5>
                    <p><%= products.rows[index].price %> KM</p>
                  </div>
                </div>
              <%}%>
            <%}%>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-4 recommended" id="home_items">
        <h3>Preporuceno</h3>
        <div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% let active_3 = true %>
            <% for(let i = 0; i < interests.rows.length; i++){ %>
              <% for(let j = 0; j < products.rows.length; j++){ %>
                <% if(products.rows[j].type === interests.rows[i].product_type_id){ %>
                  <% if(active_3 === true){ %>
                    <div class="carousel-item active">
                      <a href="/shop/details/<%=products.rows[j].shop_name%>">
                        <img src="/images/<%= products.rows[j].photo %>" class="d-block w-100" alt="..." id="home-img">
                      </a>
                      <div class="home_info">
                        <h5><%= products.rows[j].product %></h5>
                        <p><%= products.rows[j].price %> KM</p>
                      </div>
                    </div>
                    <% active_3 = false %>
                  <%}else{%>
                    <div class="carousel-item">
                      <a href="/shop/details/<%=products.rows[j].shop_name%>">
                        <img src="/images/<%= products.rows[j].photo %>" class="d-block w-100" alt="..." id="home-img">
                      </a>
                      <div class="home_info">
                        <h5><%= products.rows[j].product %></h5>
                        <p><%= products.rows[j].price %> KM</p>
                      </div>
                    </div>
                  <%}%>
                <%}%>
              <%}%>
            <%}%>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div>
        <button class="btn col-3" id="chat-button" data-bs-toggle="collapse"
                data-bs-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">
          Chat sa administratorom stranice
        </button>
        <div class="collapse multi-collapse col-3" id="multiCollapseExample5">
          <div class="card card-body" id="chat_window">

              <div class="dropdown" id="select_user_dropdown">
                <strong id="chat_header">Chat sa administratorom stranice</strong>
                <a href="#" id="close_chat" data-bs-target="#multiCollapseExample5" data-bs-toggle="collapse">X</a>
              </div>

            <div id="chat_text" class="overflow-auto">
              <%for (let i = 0; i < chat_history.rows.length; i++){%>
                <% if (chat_history.rows[i].sender !== email){ %>
                  <p id='chat_user_2'> <%= chat_history.rows[i].mess %> </p>;
                <%}else{%>
                    <p id='chat_user_1'> <%= chat_history.rows[i].mess %> </p>;
                <%}%>
              <%}%>
            </div>
            <div class="form-group" id="chat_form">
              <textarea class="form-control" id="exampleFormControlTextarea2" rows="1" placeholder="Unesite poruku.."></textarea>
              <button class="btn btn-primary" id="send_chat_mess_button" onclick="sendChatMessage('<%= system_admin_email.rows[0].email %>', '<%= email %>')">Posalji</button>
            </div>
          </div>

        </div>
      </div>

    </div>

  </body>

  <script>

    var socket = io.connect("ws://localhost:3000");
    var chat_with = "";

    function setChatWithEmail(email){
      chat_with = email;
      document.getElementById("select_user_to_chat_button").innerText= email;
      console.log(chat_with);
    }

    function setEmail(email){
      let string = 'href="' + '/shop/list/' + email + '"';
      document.getElementById("shops_link").innerHTML = '<a ' + string +  'id="shops_link"' + '>' + 'Trgovine' + '</a>';
      console.log("pozvana funkcija");
    }

    function sendChatMessage(admin, user){
      var mess = document.getElementById("exampleFormControlTextarea2").value;
      document.getElementById("chat_text").innerHTML +=
              "<p id='chat_user_1'>" + mess + "</p>";

      socket.emit("home_message_client", mess, admin, user);

      document.getElementById("exampleFormControlTextarea2").value = "";

    }

    /*socket.on("home_message_server", function (data, email){
      if (chat_with === email){
        document.getElementById("chat_text").innerHTML +=
                "<p id='chat_user_2'>" + data + "</p>";
      }

    });*/

    socket.on("notification_from_admin_server", function (data){
      document.getElementById("exampleFormControlTextarea1").value = data;
    });

    socket.on("system_admin_message_server", function (data, email){
      document.getElementById("chat_text").innerHTML +=
              "<p id='chat_user_2'>" + data + "</p>";
    });

    function receveChatMessage(){
      socket.on("home_message_server", function (data, email){
        if (chat_with === email){
          document.getElementById("chat_text").innerHTML +=
                  "<p id='chat_user_2'>" + data + "</p>";
        }

      });
    }

    function setAdminMess(mess){
      document.getElementById("exampleFormControlTextarea1").value = mess;
    }

  </script>
</html>
